
package-lock.json

node_modules

BOT.data.json

# managed by open-wa
**.data.json
**.node-persist**
**_IGNORE_**
# end managed by open-wa


/lib/data/stats
/lib/data/users
/logs
/lib/data/chats

/lib/logs
/voice/
/test
/video
/dist
.env

flutter_windows.dll
startup.exe
unins000.dat
unins000.exe
/data
